---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Experienced Software Developer with 3.8 years in hybrid web development, specializing in **React.js, JavaScript, HTML5, CSS3, TypeScript, Redux, jQuery, Bootstrap 4, and Node.js**. Skilled in **OOP, MVC, Dependency Injection, RESTful APIs, GraphQL, JSON, and Microservices Architecture**. Passionate about problem-solving, UI/UX enhancements, performance optimizations, and delivering clean, maintainable code to meet project objectives.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Engineering"
      subtitle="2015 to 2019 at Priyadarshini Bhagwati College of Engineering, Nagpur, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Developer Engineer at Karle Infra Pvt Ltd"
      subtitle="From Feb 2023 to Present, Bengaluru, India"
    >
      Led a team of 7 to deliver front-end projects using React.js and TypeScript. Managed ERP integration, optimized workflows in Epoch7, and built scalable UI components. Provided end-user training and system support.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer at Digital Ratha"
      subtitle="From Sep 2022 to Feb 2023, Remote"
    >
      Developed and maintained the Hotelier registration module for Atithi, enhancing hotel operations. Implemented inventory and pricing management using Redux and GraphQL. Collaborated with the backend team for API development.
    </TimeLineElement>
    <TimeLineElement
      title="Web Developer at W D Engineering Pvt Ltd"
      subtitle="From Aug 2021 to Sep 2022, Nagpur, India"
    >
      Built and maintained a responsive website using HTML5, CSS3, JavaScript, and Bootstrap. Improved site performance by 30% through optimizations. Worked closely with design and marketing teams to enhance UX/UI consistency.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> React.js Certification</a>
    </li>
    <li>
      <a href="#" target="_blank"> Node.js Developer Certification</a>
    </li>
    <li>
      <a href="#" target="_blank"> Advanced TypeScript Certification</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>React.js</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Node.js</li>
    <li>Bootstrap 4</li>
    <li>jQuery</li>
    <li>REST API</li>
    <li>GraphQL</li>
    <li>Microservices</li>
    <li>Git</li>
    <li>JIRA</li>
    <li>Next.js</li>
    <li>SASS</li>
    <li>Redux</li>
    <li>SSR</li>
    <li>Dependency Injection</li>
    <li>MVC</li>
    <li>Performance Optimization</li>
    <li>UI/UX Design Principles</li>
  </ul>
</BaseLayout>